@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap");


.descricaoB{
  font-family: "Rajdhani", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: #3e87e9;
  margin: 0 0 2% 0;
}

/* Barra de navegação */
.barraB {
  background-color: #4c78be;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 1;
  
}

/* Logo da clínica */
.logoB {
  height: 120px;
  width: auto;
  left: 20px;
}

/* Barra de pesquisa */
.barra-pesquisaB {
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.1);
  border: 2px solid rgba(56, 97, 162, 1);
  border-radius: 50px;
  padding: 2px 20px;
  width: 400px;
  margin-left: 25px;
}

/* Campo de texto da pesquisa */
.input-pesquisaB {
  border: none;
  outline: none;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-left: 6px;
  width: 100%;
  color: white;
  background-color: transparent;
}

/* Ícone de pesquisa */
.icone-pesquisaB {
  color: white;
  font-size: 20px;
}

/* Placeholder da pesquisa */
.input-pesquisaB::placeholder {
  color: rgb(203, 203, 203);
  font-size: 20px;
  font-family: "Rajdhani", sans-serif
}

/* Ícone de perfil */
.icone-perfilB {
  color: white;
  font-size: 40px;
  margin-left: auto;
  margin-right: 50px;
  cursor: pointer; /* Cursor de "mão" ao passar o mouse */
}

/* Seção de serviços */
.containerservicosB {
  margin-left: 130px;
  border: 2px solid rgba(56, 97, 162, 1);
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 50px;
  width: 120px;
}

/* Texto "Serviços" */
.divservicosB {
  font-family: "Rajdhani", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 13%;
  margin-right: 13%;
}

/* Ícone de seta para baixo */
.icone-setaB {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

/* Menu de serviços */
.divmenuB {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  display: none;
  position: absolute;
}

/* Mostrar menu de serviços ao passar o mouse */
.containerservicosB:hover .divmenu {
  display: flex;
  flex-direction: column;
}

.posHeaderB {
  width: 100%;
}
.abracoB {
  margin: 0 0 0 5%;
  max-width: 75%;
  
}

.titDescriB {
  color: #005bd6;
  margin: 3% 0 2% 4%;
  font-family: "Rajdhani", sans-serif;
}

.marqB {
  margin-left: 6%;
  color: #005bd6;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 3%;
}

.containerLaDeBaixoB {
  display: flex;
  padding-bottom: 5%;
  margin-left: 4%;
  font-family: "Rajdhani", sans-serif
}

.laDeBaixoB {
  border: 2px solid #8500a6;
  width: 28%;
  display: flex;
  flex-direction: column; /* Coloca o texto e o botão em uma coluna (verticalmente) */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  border-radius: 17px;
}

.laDeBaixoB h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f80ed;
}

.laDeBaixoB button {
  padding: 4%;
  font-size: 2.5vh;
  border-radius: 21px;
  border: 1px solid #2f80ed;
  background-color: #cbdffa;
  color: #2f80ed;
  margin-bottom: 7%;
  font-family: "Rajdhani", sans-serif
}

.nanneshoB{
  margin-top: 5%;
  margin-bottom: 3%;
}

@media screen and (max-width: 480px) {
  
  .barraB {
    background-color: #4c78be;
    height: 16vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 1;
  
  }

  .logoB {
    height: 15vw;
    width: auto;
    left: 0;
  }

  .barra-pesquisaB {
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.1);
    border: 2px solid rgba(56, 97, 162, 1);
    border-radius: 50px;
    padding: 2px 20px;
    width: 400px;
    margin-left: 25px;
  }

  .input-pesquisaB {
    border: none;
    outline: none;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-left: 0;
    width: 100%;
    color: white;
    background-color: transparent;
  }
}