* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    display: flex;
  }

/* Cabeçalho */
.logo-perfil {
    display: flex;
    align-items: center;
}

.logo-perfil img {
    height: 150px;
    margin-right: 5px;
}

.containerButton {
    width: 100%;
    height: 50%;
    flex-direction: column;
    display: flex;
    margin-top: 2vw;
    align-items: flex-start; /* Alinha os botões à esquerda */
}

.containerButton button {
    margin-left: 2vw;
    margin-bottom: 2vw;
}

/* Alinha todo o formulário à esquerda */
.bloco {
    display: flex;
    justify-content: flex-start; /* Alinha o bloco à esquerda */
    width: 100%;
    height: 40vw;
}

.tuliImg {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Configuração da imagem de perfil */
.imgT {
    width: 14vw;
    height: 14vw;
    border-radius: 15vw;
    margin-left: 2vw; /* Alinha a imagem à esquerda */
    margin-top: 2vw;
    background-image: url(/src/assets/fotopf.png);
    background-size: cover;
}

  
  /* Container para centralizar os cards */
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 400px; /* Defina a largura máxima desejada */
    padding-right: 20px;
    justify-content: flex-end;
  }
  
  /* Estilo dos cards */
  .card {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .card h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .card p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  