/* Estilos gerais */

.background-imageA {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgFundoMulherRuiva.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Para ficar abaixo de todos os outros elementos */
}

.input1A::placeholder {
  color: #355995; /* Estiliza o texto do placeholder */
}

.input2A::placeholder {
  color: #355995; /* Estiliza o texto do placeholder */
}

.colorA {
  background-color: #ffd900;
}

.logoA {
  font-family: "Times New Roman", Times, serif;
  color: #355995;
  width: 30%;
}

.login-containerA {
  font-family: Arial, sans-serif;
  background-image: url("../assets/imgFundoMulherRuiva.png"); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-boxA {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 47vw;
  padding: 1vw;
  text-align: center;
  position: relative; /* Necessário para aplicar z-index */
  z-index: 10; /* A caixa de login deve estar na frente */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%, 15%);
}

.logo-with-imagesA {
  display: flex;
  align-items: center;
  max-width: 50%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.images-containerA {
  display: flex;
  aspect-ratio: 140/69;
  width: 70px;
}

.login-boxA h2 {
  color: #345995;
  margin-bottom: 10px;
  font-weight: 200;
}

.login-boxA p {
  color: #71a7ff;
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 2vh;
}

.input1A,
.input2A {
  width: 70%;
  padding: 0.5vw;
  margin: 1vw 0;
  border: 1.5px solid #ffd900;
  border-radius: 4px;
  background-color: #d3e4ff;
}

.input2A {
  margin-bottom: 2vw;
}

.buttonA {
  width: 40%;
  padding: 10px;
  background-color: #acd0ff;
  color: #003fa5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonA:hover {
  background-color: #3867d6;
}

.forgot-passwordA {
  display: block;
  margin-bottom: 10%;
  margin-top: -10px;
  margin-left: 28vw;
  color: #487eb0;
  font-size: 12px;
}

.aA {
  text-decoration: none;
  color: #487eb0;
}

.aA:hover {
  text-decoration: underline;
}

.pA {
  margin-top: 30px;
}

.input1A,
.input2A {
  width: 70%;
  padding: 10px;
  margin: 12px 0;
  border: 1.5px solid #ffd900;
  border-radius: 4px;
  background-color: #d3e4ff;
}

@media screen and (max-width: 480px) {
  .background-imageA {
    display: none;
  }

  .side-imageA, .side-image2A{
    height: 130%;
    width: 130%;
  }

  .logoA {
    display: none;
  }

  .login-boxA {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0 0 0 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }

  .login-boxA p{
    padding-bottom: 4vh;
  }

  .images-containerA{
    display: flex;
    justify-content: center;
  }

  .logo-with-imagesA {
    text-align: center;
    max-width: 100%;
    justify-content: center;
    margin-top: -2%;
    margin-bottom: 14%;
  }

  .bemA {
    padding-left: 14%;
    text-align: left;
  }

  .preeA {
    max-width: 75%;
    padding-left: 14%;
    text-align: left;
  }

  .forgot-passwordA {
    padding-left: 9%;
    margin-top: -1%;
  }

  .buttonA{
  margin-bottom: 5%;
  }
}
