/* Estilos gerais */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgFundoMulherRuiva.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Para ficar abaixo de todos os outros elementos */
}

.input1::placeholder {
  color: #355995; /* Estiliza o texto do placeholder */
}

.input2::placeholder {
  color: #355995; /* Estiliza o texto do placeholder */
}

.color {
  background-color: #ffd900;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  color: #355995;
}

.login-container {
  font-family: Arial, sans-serif;
  background-image: url("../assets/imgFundoMulherRuiva.png"); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 22px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  position: relative; /* Necessário para aplicar z-index */
  z-index: 10; /* A caixa de login deve estar na frente */
  margin-top: 4%;
}

.logo-with-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 350px;
  margin-left: -6%;
}

.images-container {
  display: flex;
  aspect-ratio: 140/69;
  width: 70px;
}

.logo {
  width: 23%;
}

.login-box h2 {
  color: #345995;
  margin-bottom: 10px;
  font-weight: 200;
}

.login-box p {
  color: #71a7ff;
  font-size: 14px;
  font-weight: 100;
  margin-top: 12px;
}

.input1,
.input2 {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid #ffd900;
  border-radius: 4px;
  background-color: #d3e4ff;
}

.button {
  width: 40%;
  padding: 10px;
  background-color: #acd0ff;
  color: #003fa5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3867d6;
}

.forgot-password {
  display: block;
  margin-bottom: 10%;
  margin-top: -10px;
  margin-left: 250px;
  color: #487eb0;
  font-size: 12px;
}

.a {
  text-decoration: none;
  color: #487eb0;
}

.a:hover {
  text-decoration: underline;
}

.p {
  margin-top: 30px;
}
